Source: utext
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: utext
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	gir1.2-gtk-3.0,
	gir1.2-gdkpixbuf-2.0,
	gir1.2-webkit-3.0,
	gir1.2-gtkspell3-3.0,
	gir1.2-gtksource-3.0,
	gir1.2-pango-1.0,
	python3-chardet,
	python3-jinja2,
	python3-markdown,
	python3-requests,
	wkhtmltopdf,
	pandoc,
	html2ps,
	gvfs-bin,
	imagemagick
Description: An application to work with markdown files
 An application to work with markdown files.
