[Desktop Entry]
Name = utext
GenericName = utext
Comment = An application to work with markdown files
Exec = /opt/extras.ubuntu.com/utext/bin/utext %U
Icon = /opt/extras.ubuntu.com/utext/share/utext/icons/utext.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = utext
MimeType = text/x-web-markdown;text/plain;
Actions = NewWindow
Name[fr] = utext
Name[es] = utext
Name[uk] = utext
Name[ko] = utext
Name[gl] = utext
Name[pt_BR] = utext
Name[ca] = utext
Name[sr] = utext
Name[ru] = utext
Name[el] = utext
GenericName[fr] = utext
GenericName[es] = utext
GenericName[uk] = utext
GenericName[ko] = utext
GenericName[gl] = utext
GenericName[pt_BR] = utext
GenericName[ca] = utext
GenericName[sr] = utext
GenericName[ru] = utext
GenericName[el] = utext
Comment[fr] = Une application pour travailler avec des fichiers Markdown
Comment[es] = Una aplicación para trabajar con markdown
Comment[uk] = Програма для роботи з файлами markdown
Comment[ko] = An application to work with markdown files
Comment[gl] = Un aplicativo para traballar con ficheiros markdown
Comment[pt_BR] = An application to work with markdown files
Comment[ca] = Una aplicació per treballar amb fitxers markdown
Comment[sr] = An application to work with markdown files
Comment[ru] = Приложение для работы с файлами markdown
Comment[el] = An application to work with markdown files

[Desktop Action NewWindow]
Name = Open new window
Exec = /opt/extras.ubuntu.com/utext/bin/utext %U
OnlyShowIn = Unity;
Name[fr] = Ouvrir une nouvelle fenêtre
Name[es] = Abrir nueva ventana
Name[uk] = Відкрити нове вікно
Name[ko] = Open new window
Name[gl] = Abrir en nova ventá
Name[pt_BR] = Open new window
Name[ca] = Obriu una finestra nova
Name[sr] = Open new window
Name[ru] = Open new window
Name[el] = Open new window
